.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background-color);
    /* min-width: fit-content; */
    overflow-y: scroll;
}

/* hide for safari, chrome and opera */
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox*/
}

.feed__header {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background-color);
    padding: 15px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed__arrowbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feed__togglePost {
    font-size: 18;
    font-weight: 800;
    color: green;
}